@theme {
  --font-sans: "Figtree", "Public Sans", sans-serif;
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-pink-25: oklch(97.3% 0.01 338);
  --color-pink-50: oklch(95.1% 0.02 339);
  --color-pink-100: oklch(89.9% 0.05 339);
  --color-pink-200: oklch(80% 0.1 340);
  --color-pink-300: oklch(70.9% 0.15 342);
  --color-pink-400: oklch(62.8% 0.2 344);
  --color-pink-500: oklch(56.7% 0.22 347);
  --color-pink-600: oklch(46% 0.18 347);
  --color-pink-700: oklch(39.3% 0.15 347);
  --color-pink-800: oklch(34.6% 0.13 346);
  --color-pink-900: oklch(29.9% 0.11 345);
  --color-pink-950: oklch(19.2% 0.06 343);

  --color-purple-25: oklch(98.1% 0.01 298);
  --color-purple-50: oklch(96.4% 0.01 292);
  --color-purple-100: oklch(92.8% 0.02 292);
  --color-purple-200: oklch(85.6% 0.04 293);
  --color-purple-300: oklch(78.2% 0.07 291);
  --color-purple-400: oklch(70.9% 0.09 291);
  --color-purple-500: oklch(63.4% 0.12 289);
  --color-purple-600: oklch(51.6% 0.09 289);
  --color-purple-700: oklch(44.1% 0.08 289);
  --color-purple-800: oklch(38.8% 0.07 290);
  --color-purple-900: oklch(32.7% 0.06 290);
  --color-purple-950: oklch(26.1% 0.04 291);
}

@utility logo-text {
  @apply fill-[#f1334f] dark:fill-white transition-colors;
}

@utility logo-gradient {
  @apply fill-white dark:fill-[url(#linear-gradient)]  transition-colors;
}
@utility logo-gradient-reverse {
  @apply fill-[url(#linear-gradient)] dark:fill-white transition-colors;
}

:root {
  --scalar-custom-header-height: var(--ui-header-height);

  /* TYPOGRAPHY ------------------------------------ */
  --scalar-font: var(--font-sans);
  --scalar-font-code: var(--font-mono);
}
.dark-mode {
  color-scheme: dark;

  --scalar-background-1: var(--ui-color-neutral-900) !important;
  --scalar-background-2: var(--ui-color-neutral-800) !important;
  --scalar-background-3: var(--ui-color-neutral-700) !important;
  --scalar-background-accent: var(--ui-color-neutral-700) !important;
  --scalar-color-1: var(--ui-color-neutral-50) !important;
  --scalar-color-2: var(--ui-color-neutral-200) !important;
  --scalar-color-3: var(--ui-color-neutral-400) !important;
  --scalar-color-accent: var(--color-pink-400) !important;
  --scalar-border-color: var(--ui-color-neutral-700) !important;
  --scalar-color-green: var(--ui-color-success-500) !important;
  --scalar-color-red: var(--ui-color-error-500) !important;
  --scalar-color-yellow: #fde68a !important;
  --scalar-color-blue: var(--ui-color-info-500) !important;
  --scalar-color-orange: var(--ui-color-warning-500) !important;
  --scalar-color-purple: var(--color-purple-500) !important;
}
.light-mode {
  --scalar-background-1: #fff !important;
  --scalar-background-2: var(--ui-color-neutral-50) !important;
  --scalar-background-3: var(--ui-color-neutral-100) !important;
  --scalar-background-accent: var(--ui-color-accented) !important;
  --scalar-color-1: var(--ui-color-neutral-950) !important;
  --scalar-color-2: var(--ui-color-neutral-600) !important;
  --scalar-color-3: var(--ui-color-neutral-500) !important;
  --scalar-color-accent: var(--color-pink-500) !important;
  --scalar-border-color: var(--ui-color-neutral-200) !important;
  --scalar-color-green: var(--ui-color-success-400) !important;
  --scalar-color-red: var(--ui-color-error-400) !important;
  --scalar-color-yellow: #f59e0b !important;
  --scalar-color-blue: var(--ui-color-info-400) !important;
  --scalar-color-orange: var(--ui-color-warning-400) !important;
  --scalar-color-purple: var(--color-purple-400) !important;
}

/* Hide 'powered by' */
.scalar-app aside > div:last-child {
  display: none;
}
